body{
    background-color: cornflowerblue;
}

.dark{
    background-color: grey;
}

.win-lose{
    width: 50px;
    height: 35px;
    margin: auto;
    text-align: center;
    border: 2px solid goldenrod;
    border-radius: 10px;
    padding: 3px;
    font-size: xx-large;

}

.header{
    display: flex;
    width: 50%;
    margin: 1% auto;
    align-items: center;
    justify-content: center;
 
}

.live{
    width: 15%;
    height: 30px;
    border: 2px solid darkseagreen;
    border-radius: 10px;
    padding: 3px;
    text-align: center;
    font-size: larger;
}

.levelBtns{
    border: 2px solid gold;
    border-radius: 10px;
    display: flex;
    margin: 0px 10px;
    font-size: x-large;
    padding:3px
}

.btn{
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
    
}

.btn:hover{
    background-color:rgba(255, 217, 0, 0.684)
}

.total-hidden-mines{
    width: 150px;
    margin: 5px auto;
    border: 2px solid darkred;
    border-radius: 10px;
    padding: 3px;
    text-align: center;
    font-size: large;
    background-color: cadetblue;
}

.total-hidden-mines span{
color: gold;
}

.timer{
    width: 15%;
    height: 30px;

    border: 2px solid black;
    border-radius: 10px;
    padding: 3px;
    text-align: center;
    font-size: x-large;
}

table{
    background-color: black;
    padding: 1px;
    border-radius: 5px;
    margin: auto;

}

.cell{
    width: 40px;
    height: 40px;
    background-color: rgb(80, 26, 132);
    border-radius: 5px;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
    /* TODOs:  */
    /* each Cell has 2 background colors to make it buitiful  */
    /* and the effect is coming slow - 0.3ms */
    
}

.cell:hover{
    background-color: blueviolet;
}

.shown{
    background-color: brown;
}

.shown:hover{
    background-color: brown;
}


img{
    border-radius: 10px;
    margin: 1px;
    transition: 0.3s;
}

img:hover{
  background-color: rgb(248, 225, 100);  
 
}

.dark-mode{
    width: 10%;
    height: 25px;
    margin: 1% auto;
    border-radius: 10px;
    background-color: cornsilk;
    text-align: center;
    font-size: large;
    cursor: pointer;
}

.extra-fetchers-container{
    width: 350px;
    margin: 5% auto 0%;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    background: darkcyan;

}


.helpers-container{
    /* width: 50%; */
    margin: 1% auto;
    text-align: center;
    display: flex;
    justify-content: center;
    
}
.hints{
    width: 135px;
    height: 45px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1px;
    margin-right: 5px;
    background-color: burlywood;
   

}
.hint{
    cursor: url(../img/hint.png), pointer;
}

.safe{
    background-color: antiquewhite;
}

.safe-container{
    margin-left: 5px;
   
}

.safe-btn{
    width: 130px;
    padding: 10px;
    margin: 1%;
    background-color: bisque;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.safe-btn:hover{
    background-color: greenyellow;
}

.special-fetchers-container{
    margin: 5% auto 0%;
    text-align: center;
    display: flex;
    justify-content: center;
  

}

.manual-mode{
    width: 150px;
    padding: 10px;
    margin-right: 5px;
    background-color:cadetblue;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.manual-mode:hover{
    background-color: #98c5c6;
}
.manual-mode-msg{
    margin-bottom: 5%;
}

.undo{
    width: 150px;
    height: 45px;
    margin-left: 5px;
    background-color: coral;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.undo:hover{
    background-color: #ef9878;
}

.best-score{
    width: 25%;
    margin: 1% auto;
    padding: 10px;
    background-color: #60bc9d;
    border-radius: 10px;
    text-align: center;
}

.manual{
    background-color: green;
}


.footer{
  
text-align: center;
}
