/* TODO organize the code */
/* How to organize the css code? what should be up and what at the bottom? */
/* What a name do you suggest instead of "extra-fetchers-container"? */

/* 

* { 
 box-sizing: border-box 
 } 
 
 */

body {
  background-image: url('../img/base-plate-green.jpg');
  background-position: center;
}

.how-to-play-modal {
}

.board-game {
  width: 75%;
  margin: 5% auto;
  padding: 10px;
  background-color: cornflowerblue;
  border: 2px solid snow;
  border-radius: 10px;
  box-shadow: 0px -1px 14px 4px rgba(0, 0, 0, 0.75);
}

.dark-mode {
  background-image: url('../img/base-plate-grey.jpg');
}

/* Header Styles */

.header {
  display: flex;
  width: 100%;
  margin: 2% auto;
  align-items: center;
  justify-content: center;
}

/* Game Elements */

.win-lose {
  width: 50px;
  height: 50px;
  margin: auto;
  text-align: center;
  border: 2px solid goldenrod;
  border-radius: 10px;
  padding: 5px;
}

.win-lose-img {
  width: 50px;
}

.live {
  width: 150px;
  height: 45px;
  border: 2px solid darkseagreen;
  border-radius: 10px;
  padding: 3px;
}

.live-img {
  width: 50px;
  margin-top: 7px;
  /* TODO instead of margin-top, so line-height: 7px; */
}

.level-btns {
  display: flex;
  border: 2px solid gold;
  border-radius: 10px;
  margin: 0px 10px;
  padding: 3px;
}

.level-img {
  width: 50px;
}

.btn {
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
}

.btn:hover {
  background-color: rgba(255, 217, 0, 0.684);
}

.timer {
  width: 150px;
  height: 40px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 3px;
  text-align: center;
  font-size: 2em;
}

/* Game Board */

table {
  background-color: black;
  padding: 1px;
  border-radius: 5px;
  margin: auto;
  box-shadow: 0px -1px 14px 4px rgba(0, 0, 0, 0.75);
}

.cell {
  width: 30px;
  height: 30px;
  background-color: goldenrod;
  border-radius: 5px;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}

.cell:hover {
  background-color: gold;
}

.shown {
  background-color: brown;
}

.shown:hover {
  background-color: brown;
}

/* Helpers and Special Fetchers */

.total-hidden-mines {
  width: 150px;
  margin: 5px auto;
  padding: 3px;
  border: 2px solid darkred;
  border-radius: 10px;
  text-align: center;
  font-size: 1.15em;
  background-color: cadetblue;
}

.total-hidden-mines span {
  color: gold;
}

.dark-mode-btn {
  width: 10%;
  height: 25px;
  margin: 1% auto;
  border-radius: 10px;
  text-align: center;
  font-size: 1.13em;
  cursor: pointer;
  background: linear-gradient(
    13deg,
    rgba(9, 254, 0, 1) 40%,
    rgba(139, 161, 173, 1) 65%
  );

  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.dark-mode-btn:active {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
}

.game-tools-container {
  width: 350px;
  height: 185px;
  margin: 5% auto 0%;
  text-align: center;
  border: 1px solid black;
  padding: 15px;
  border-radius: 5px;
  background: darkcyan;
}

.assist-tools-container {
  display: flex;
  margin: 1% auto;
  justify-content: center;
}

.hints {
  width: 150px;
  height: 45px;
  border: 2px solid black;
  border-radius: 10px;
  margin-left: -15px;
  padding: 1px;
  text-align: center;
  cursor: pointer;
  background-color: burlywood;
}

.hint {
  cursor: url(../img/hint.png), pointer;
}

.hint-img {
  border-radius: 10px;
  margin: 1px;
  transition: 0.3s;
}

.hint-img:hover {
  background-color: rgb(248, 225, 100);
}

.safe {
  background-color: antiquewhite;
}

.safe-container {
  margin-left: 15px;
}

.safe-btn {
  width: 130px;
  border-radius: 5px;
  margin: 1%;
  padding: 10px;
  cursor: pointer;
  background-color: bisque;
  transition: 0.3s;
}

.safe-btn:hover {
  background-color: greenyellow;
}

.advanced-tools-container {
  display: flex;
  margin: 5% auto 0%;
  text-align: center;
  justify-content: center;
}

.manual-mode-btn {
  width: 150px;
  height: 45px;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: cadetblue;
  transition: 0.3s;
}

.manual-mode-btn:hover {
  background-color: #98c5c6;
}

.manual-mode-msg {
  /* font-size: 1em; */
}

.undo {
  width: 150px;
  height: 45px;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: coral;
  transition: 0.3s;
}

.undo:hover {
  background-color: #ef9878;
}

.best-score {
  width: 25%;
  margin: 1% auto;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  background-color: #60bc9d;
}

.manual {
  background-color: green;
}

.mega-hint {
  width: 150px;
  height: 45px;
  margin: 1%;
  border-radius: 5px;
  cursor: pointer;
  background-color: deepskyblue;
  transition: 0.3s;
}

.mega-hint:hover {
  background-color: rgb(96, 211, 250);
}
.megaHintColor {
  background-color: deepskyblue;
}

.exterminator {
  width: 150px;
  height: 45px;
  margin: 1%;
  border-radius: 5px;
  cursor: pointer;
  background-color: darkred;
  transition: 0.3s;
}

.exterminator:hover {
  background-color: rgb(188, 15, 15);
}

.btn-off {
  background-color: grey;
}

.btn-off:hover {
  background-color: grey;
}

.footer {
  text-align: center;
}

/* Characters and Speech Bubbles */

.superman-container,
.batman-container {
  position: absolute;
  opacity: 0;
  transition: 0.8s;
}

.superman-container {
  top: 35%;
  left: 70%;
}

.superman-speech,
.batman-speech {
  width: 150px;
  border-radius: 15px;
  background: white;
  padding: 15px;
  text-align: center;
  font-weight: 900;
  font-family: arial;
  position: absolute;
}

.superman-speech {
  left: 55%;
  bottom: 97%;
}

.sb-s:before {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid white;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  border-bottom: 10px solid transparent;
  left: 19px;
  bottom: -19px;
}

.superman-exterminator {
  width: 200px;
}

.batman-container {
  top: 37%;
  left: 21%;
}

.batman-speech {
  left: -95%;
  bottom: 97%;
}

.sb-b:before {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid white;
  border-top: 10px solid white;
  border-bottom: 10px solid transparent;
  right: 19px;
  bottom: -19px;
}

.batman-mega-hint {
  width: 135px;
}
