/* TODO organize the code */
/* How to organize the css code? what should be up and what at the bottom? */
/* What a name do you suggest instead of "extra-fetchers-container"? */

/* 

* { 
 box-sizing: border-box 
 } 
 
 */

* {
  transition: 0.3s;
}

body {
  background-image: url('../img/base-plate-green.jpg');
  background-position: center;
}

.board-game {
  width: 75%;
  margin: 5% auto;
  padding: 10px;
  border: 2px solid snow;
  border-radius: 10px;
  background-color: cornflowerblue;
  box-shadow: 0px -1px 14px 4px rgba(0, 0, 0, 0.75);
}

.dark-mode {
  background-image: url('../img/base-plate-grey.jpg');
}

/* Header Styles */

.header {
  display: flex;
  width: 100%;
  margin: 0% auto 2%;
  align-items: center;
  justify-content: center;
}

/* Game Elements */

.win-lose-logo {
  width: 50px;
  height: 50px;
  margin: auto;
  text-align: center;
  border: 2px solid goldenrod;
  border-radius: 10px;
  padding: 5px;
}

.win-lose-logo-img {
  width: 50px;
}

.win-lose-msg {
  width: 200px;
  height: 60px;
  margin: 1% auto;
  /* border: solid 2px black; */
  font-size: 3em;
  text-align: center;
  /* color: red; */
}

.win {
  /* color: aqua; */
}

.lose {
  /* color: red; */
}

.live {
  width: 150px;
  height: 45px;
  border: 2px solid darkseagreen;
  border-radius: 10px;
  padding: 3px;
}

.live-img {
  width: 50px;
  margin-top: 7px;
  /* TODO instead of margin-top, so line-height: 7px; */
}

.level-btns {
  display: flex;
  border: 2px solid gold;
  border-radius: 10px;
  margin: 0px 10px;
  padding: 3px;
}

.level-img {
  width: 50px;
}

.btn {
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
}

.btn:hover {
  background-color: rgba(255, 217, 0, 0.684);
}

.timer {
  width: 150px;
  height: 40px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 3px;
  text-align: center;
  font-size: 2em;
}

/* Game Board */

table {
  padding: 1px;
  border-radius: 5px;
  margin: auto;
  background-color: black;
  box-shadow: 0px -1px 14px 4px rgba(0, 0, 0, 0.75);
}

.cell {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  background-color: goldenrod;
}

.cell:hover {
  background-color: gold;
}

.shown {
  background-color: brown;
}

.shown:hover {
  background-color: brown;
}

/* Helpers and Special Fetchers */

.total-hidden-mines {
  width: 150px;
  margin: 5px auto;
  padding: 3px;
  border: 2px solid darkred;
  border-radius: 10px;
  text-align: center;
  font-size: 1.15em;
  background-color: cadetblue;
}

.total-hidden-mines span {
  color: gold;
}

.dark-mode-btn {
  width: 10%;
  height: 25px;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  font-size: 1.13em;
  cursor: pointer;
  background: linear-gradient(
    13deg,
    rgba(9, 254, 0, 1) 40%,
    rgba(139, 161, 173, 1) 65%
  );

  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.dark-mode-btn:active {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
}

.game-tools-container {
  width: 350px;
  height: 185px;
  margin: auto;
  text-align: center;
  border: 1px solid black;
  padding: 15px;
  border-radius: 5px;
  background: darkcyan;
}

.assist-tools-container {
  display: flex;
  margin: 1% auto;
  justify-content: center;
}

.hints {
  width: 150px;
  height: 45px;
  border: 2px solid black;
  border-radius: 10px;
  margin-left: -15px;
  padding: 1px;
  text-align: center;
  cursor: pointer;
  background-color: burlywood;
}

.hint {
  cursor: url(../img/hint.png), pointer;
}

.hint-img {
  border-radius: 10px;
  margin: 1px;
}

.hint-img:hover {
  background-color: rgb(248, 225, 100);
}

.safe {
  background-color: antiquewhite;
}

.safe-container {
  margin-left: 15px;
}

.safe-btn {
  width: 130px;
  border-radius: 5px;
  margin: 1%;
  padding: 10px;
  cursor: pointer;
  background-color: bisque;
}

.safe-btn:hover {
  background-color: greenyellow;
}

.advanced-tools-container {
  display: flex;
  margin: 5% auto 0%;
  text-align: center;
  justify-content: center;
}

.manual-mode-btn {
  width: 150px;
  height: 45px;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: cadetblue;
}

.manual-mode-btn:hover {
  background-color: #98c5c6;
}

.manual-mode-msg {
  /* font-size: 1em; */
}

.undo {
  width: 150px;
  height: 45px;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: coral;
}

.undo:hover {
  background-color: #ef9878;
}

.best-score {
  width: 25%;
  margin: 1% auto;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  background-color: #60bc9d;
}

.manual {
  background-color: green;
}

.mega-hint {
  width: 150px;
  height: 45px;
  margin: 1%;
  border-radius: 5px;
  cursor: pointer;
  background-color: deepskyblue;
}

.mega-hint:hover {
  background-color: rgb(96, 211, 250);
}
.megaHintColor {
  background-color: deepskyblue;
}

.exterminator {
  width: 150px;
  height: 45px;
  margin: 1%;
  border-radius: 5px;
  cursor: pointer;
  background-color: darkred;
}

.exterminator:hover {
  background-color: rgb(188, 15, 15);
}

.btn-off {
  background-color: grey;
}

.btn-off:hover {
  background-color: grey;
}

.footer {
  text-align: center;
}

/* Characters and Speech Bubbles Effects */

.exterminator-effect-container,
.mega-hint-effect-container {
  position: absolute;
  opacity: 0;
  transition: 0.8s;
}

.exterminator-effect-container {
  top: 35%;
  left: 70%;
}

.superman-exterminator-speech,
.batman-mega-hint-speech {
  width: 150px;
  border-radius: 15px;
  background: white;
  padding: 15px;
  text-align: center;
  font-weight: 900;
  font-family: arial;
  position: absolute;
}

.superman-exterminator-speech {
  left: 55%;
  bottom: 97%;
}

.sb-left:before {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid white;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  border-bottom: 10px solid transparent;
  left: 19px;
  bottom: -19px;
}

.superman-exterminator {
  width: 200px;
}

.mega-hint-effect-container {
  top: 37%;
  left: 21%;
}

.batman-mega-hint-speech {
  left: -95%;
  bottom: 97%;
}

.sb-right:before {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid white;
  border-top: 10px solid white;
  border-bottom: 10px solid transparent;
  right: 19px;
  bottom: -19px;
}

.batman-mega-hint {
  width: 135px;
}

.up-right-corner-img {
  width: 135px;
  position: absolute;
  left: 75%;
  bottom: 65%;
}

.up-left-corner-img {
  width: 135px;
}

.bottom-right-corner-img {
  width: 135px;
}

.bottom-left-corner-img {
  width: 135px;
}

/* How To Play */

.how-to-play-btn {
  width: 150px;
  margin: 5% auto 0.5%;
  padding: 3px;
  border: 2px solid darkred;
  border-radius: 10px;
  text-align: center;
  font-size: 1.15em;
  cursor: pointer;
  background-color: darkcyan;

  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.how-to-play-btn:hover {
  color: white;
  background-color: #3bbaba;
}

.how-to-play-btn:active {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
}

.how-to-play-modal {
  width: 70%;
  margin: 0;
  padding: 1.5%;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid snow;
  border-radius: 10px;
  background-color: darkcyan;
  box-shadow: 0px -1px 14px 4px rgba(0, 0, 0, 0.75);
}

.how-to-play-modal button {
  margin-inline-start: 97%;
  cursor: pointer;
  background-color: #98c5c6;
}

.how-to-play-modal h1,
h2 {
  margin-block-start: 0px;
  text-align: center;
}

.how-to-play-modal h1 {
  color: gold;
}

.how-to-play-modal h3,
ul,
li {
  margin-inline-start: 10%;
}

.how-to-play-modal li span {
  font-weight: bold;
}
